{% extends 'pfinal/base.html' %}

{% block content %}
    {% for estudiante in estudiantes %}
    <div class="post">
        <p>Estudiante: </p>
        <h1><a href="{% url 'pfinal.views.detalle_estudiante' pk=estudiante.pk %}">{{ estudiante.nombre }} {{ estudiante.apellido }}</a></h1>
        <p>Telefono: {{ estudiante.telefono }}</p>
    </div>
    
    {% endfor %}

    {% if user.is_authenticated %}
        {{user.username}}
    <a href="{% url 'logout' %}">salir</a>
    {% endif %}
    {% if not user.is_authenticated %}
    <a href="{% url 'authentication' %}">iniciar</a>
    {% endif %}
{% endblock content %}